/* body{
    text-align: center;
} */


.shrink{
    transform: scale(0.8);
    width: 10;
}

.siz{
    width: 20vh;
}

.remove{
    display: none;
}

.hide{
    visibility: hidden;
}

.green{
    background-color: green;
    color: white;
}

.gyellow{
    background-color: greenyellow;
    color: black;
}